<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mariam Sikharulidze - Books I've Read</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body id="home-page">


  <header>
    <div class="header-content">
        <a href="/mariam-sikharulidze" id="header-link">MARIAM SIKHARULIDZE</a>

    </div>
  </header>
  
  <h1>BOOKS I'VE READ</h1> 

  <hr>
 

  <section id="book-list">
    <ul>
      <% books.forEach(book => { %>
        <li class="book-item">
          <div class="book-content">

            <div class="book-image-container">
              <a href="<%= book.id != null ? '/book' + book.id : '/' %>">


                <img class="book-image" src="/images/<%= book.image %>" alt="<%= book.title %> Image">
              </a>
              
            </div>

            
            <div class="book-text">
              <h2 class="book-title"><%= book.title %> - BY <%= book.author %></h2>
              <div class="book-details">
                <p>
                  DATE READ: 
                  <%= new Date(book.reading_date).toLocaleDateString('en-GB') %>. 
                  HOW STRONGLY I RECOMMEND IT: <%= book.rating %>/10
                </p>

                <% if (book.notes) { %>
                  <p class="book-notes"><%= book.notes %></p>
                
                <% } %>

                <% if (book.notes) { %>
                  <a href="<%= book.title.toLowerCase() === 'demons' ? '/demons' : '/book/' + book.id %>" class="read-my-notes">READ MY NOTES</a>
                <% } %>


              </div>
            </div>
            
          </div>         
        </li>
       
      <% }); %>
      
    </ul>

    
  </section>
  







</body>
</html>
